$accent-color: #191919;
$grey-color: #7b7b7b;
$blue-color: #243f4d;

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}
%raleway-700 {
    font-family: 'Raleway-Bold', sans-serif;
    font-weight: 600;
}
%raleway-600 {
    font-family: 'Raleway-SemiBold', sans-serif;
    font-weight: 600;
}
%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}