@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 40px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
       
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        transition: all .3s;
        &:hover {
            color: $accent-color; 
        }
    }
    &__list-link--active {
        color: $accent-color;
    }
}
.user-nav {
    display: flex;
    &__link1 {
        padding: 22px;
        background-color: #edf1f4;
        border-radius: 50%;
    }
    
.use-button {
    display: flex;
    padding: 22px 40px 14px;
    background-color: #fcd7b6;
    border-radius: 35px;
    margin: 0 20px;
    position: relative;
    &__link12 {
        margin-left: 26px;
        padding-left: 26px;
    }
    &__link2 + .use-button__link2 {
        border-left: 1px solid #fde7d3;

    }
    &__num {
       position: absolute; 
       width: 16px;
       height: 16px;
       border-radius: 50%;
       background-color: #fff;
       top: 15px;
       left: 49px;
       font-size: 10px;
       line-height: 16px;
       text-align: center;
       color: #26404e;
    }
}
    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -9px;
        right: -9px;
        font-size: 10px;
        text-align: center;
        line-height: 16px;
    }
    &__link3 {
        padding: 20px;
        background-color: #a3bbc8;
        border-radius: 50%;
    }
}

.footer-top {
    padding: 90px 0 80px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    justify-content: space-between;
    &__contact {
        max-width: 190px;
        margin-right: 95px;
    }
    &__forms {
        max-width: 270px;
    }
    &__title {
        margin-bottom: 26px;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 22px;
        color: #1f2044;
        text-transform: uppercase;
    }
    &__adress,
    &__phone,
    &__email {
        line-height: 32px;
        font-size: 14px;
        color: $grey-color;
    }
    &__link {
        font-size: 14px;
        line-height: 32px;
        color: $grey-color;
    }
    &__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__form-input {
        background-color: #fef7f0;
        max-width: 170px;
        width: 100%;
        border: none;
        font-size: 12px;
        color: #234969;
        padding: 4px;
    }
    &__form-btn {
        background-color: #a3bbc8;
        max-width: 100px;
        border: none;
        padding: 8px;
        font-size: 14px;
        color: #fff;
        line-height: 21px;
    }
}
.logo__img {
    margin-bottom: 26px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    font-size: 14px;
    line-height: 32px;
    padding-bottom: 25px;
    &__copy {
        color: $grey-color;
    }
    &__list {
        display: flex;
        
    }
    &__link {
       margin-left: 15px; 
       padding-left: 15px;
    }
    &__link + .footer-bottom__link {
        border-left: 2px solid #7b7b7b;
    }
    &__a {
        color: $grey-color;
    }
}

.top {
    background-color: #edf1f4;
    padding: 30px 0;
    text-align: center;
    
    &__title {
        color: #222933;
        font-size: 36px;
        line-height: 24px;
        @extend %raleway-600;
        margin-bottom: 10px;
    }
}
.top-slider {
    &__bg {
        background-image: url(../images/slider-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 220px;
    }
    &__inner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__item {
        display: flex !important;
        justify-content: space-between;
    }
    &__title {
       max-width: 500px;
       font-size: 72px;
       line-height: 70px;
       color: $blue-color;
       margin-bottom: 35px;
       
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        max-width: 371px;
        color: #436372;
        margin-bottom: 25px;
        
    }
    &__link {
        background-color: #a3bbc8;
        color: #fff;
        font-size: 15px;
        line-height: 12px;
        padding: 20px 25px;
        
    }
    &__images {
        margin-top: 50px;
        margin-bottom: 200px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        li{
            button{
                padding: 10px;
                border-radius: 50%;
                font-size: 10px;
                line-height: 8px;
                border: none;
                background-color: #fde3cc;
                margin: 0 5px 45px ;
            }
            &.slick-active{
                button {
                    background-color: #fff;
                }
            }
        }
    }
}
.info {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;
    &__items {
        display: flex;
        padding: 50px 140px 40px 140px ;
    }
    &__items + .info__items {
        border-left: 1px solid #585858;
    }
    &__item-images {
        margin-right: 20px;
        padding-top: 10px;
    }
    &__item-title {
        font-size: 18px;
        line-height: 40px;
        @extend %dmsans-700;
        color: #243f4d;
    }
    &__item-text {
        font-size: 16px;
        line-height: 30px;
        @extend %dmsans-400;
    }
}
.products {
    padding-top: 65px;
    &__title {
        text-align: center;
    }
    &__star {
        display: none;
    }
}
.title {
    margin-bottom: 30px;
    font-size: 36px;
    @extend %dmsans-700;
}
.categories {
    &__list {
        margin-bottom: 70px;
        color: #8b8b8b;
        font-size: 16px;
        @extend %dmsans-700;
        border: none;
        padding: 0;
        background-color: transparent;
    }
    &__list + .categories__list {
        margin-left: 30px;
    }
}
.products__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
    padding-bottom: 180px;
}
.products__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 270px;
    text-align: center;
    background-color:  #fff;
    padding: 30px 30px 40px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover {
        .products__item-link-box {
            transform: translateY(0);
        }
    }
        
    
    &.products__item-list {
            width: 100%;
            box-shadow: none;
            display: flex; 
            flex-direction: row; 
            justify-content: start;
            text-align: left;
            .products__item-images {
                min-width: 366px;   
            }
            .products__item-img {
                border: 1px solid #f2f2f2; 
                width: 400px;
                height: 500px;
                display: flex;
                align-items: center;
            }
            .products__item-images {
                margin-bottom: 0;
                padding: 0;
                height: 400px;
                min-width: 300px; ;
            }
            .products__item-content {
                display: block;
            }
            .products__item-wrapper-box {
                padding: 90px 0 75px 60px;
            }
            .products__star {
                display: block;
            }
            .products__item-title {
                margin-bottom: 20px;
                font-size: 40px;
            }
            .products__item-text {
                color: #191919;
                font-size: 30px;
                margin-bottom: 20px;
            }
            .products__star {
                margin-bottom: 30px;
            }
            .product__item-texts {
                font-size: 16px;
                line-height: 30px;
                color: #243f4d;
                max-width: 400px;
                @extend %rubik-400;
                margin-bottom: 40px;
            }
            .products__item-link-box {
                display: none;
            }
            .products__content-link {
                background-color: #fff;
                padding: 15px;
                margin-left: 10px;
                display: inline-flex;
                box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            }
            .products__content-link:hover {
                background-color: #a3bac7;
                path {
                    fill: #fff;
                }
                box-shadow: none;
            }
        }
    
    &-content {
        display: none;
    }
    &-img {
        position: relative;
        overflow: hidden;
    }
    &-link-box {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        transform: translateY(300%);
        transition: all  .3s;
    }
    &-link {
        background-color: #fff;
        padding: 10px;
        display:inline-flex;
        border-radius: 50%;
        transition: all .3s;
        path {
            transition: all .3s;  
        }
        &-2 {
            margin: 0 15px;
        }
        &-3 {
            color: #243f4d;
        }
    }
    &-link:hover {
        background-color: #a3bbc8;
        path {
            fill: #fff;
        }
    }
    &-images {
        margin-bottom: 60px;
    }
    &-title {
        @extend %dmsans-700;
        font-size: 16px;
        &_link {
            color: #243f4d;
        }
    }
    &-text {
        @extend %dmsans-700;
        font-size: 16px;
        color: #a3bbc8;
    }
}
.images__products {
    max-width: 170px;
    height: 210px;
}
.mixitup-control-active {
    color: #1a1a1a;
}
.lamp {
    padding: 30px 0 100px;
    &__items {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
    &__item {
        display: flex;
        justify-content:center;
        column-gap: 30px;
        width: 100%;
        background-color: #feefe2;
    }
    &__inner {
        max-width: 360px;
        &-images{
            position: relative; 
            right: 20px;
            bottom: 80px;
        } 
        &-title {
            margin-top: 90px;
            font-size: 26px;
            line-height: 32px;
            @extend %dmsans-700;
            margin-bottom: 30px;
        }
        &-text {
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 35px;
        }
        &-link {
            color: #436372;
            line-height: 12px;
            padding: 20px;
            background-color:inherit;
            border: 1px solid #b3b7b5;
            border-radius: 10px
        }
    }
}
.design {
    &__top {
        text-align: center;
    }
    &__list {
        margin-bottom: 70px;
        color: #8b8b8b;
        font-size: 16px;
        @extend %dmsans-700;
        border: none;
        padding: 0;
        background-color: transparent;
    }
    &__list + .design__list {
        margin-left: 30px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 120px;
    }
    &__item {
        min-height: 245px;
        width: 370px;
        padding: 35px 0 20px 30px;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: right bottom;
    }
    
    &__title {
        max-width: 185px;
        font-size: 20px;
        @extend %dmsans-700;
        margin-bottom: 15px;
        &-link{
            color: #191919;
        }
    }
    &__text {
        color: #a3bbc8;
        @extend %dmsans-700;
        font-size: 16px;
    }
}

.video {
    background-image: url(../images/video.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.design {
    &__bottom {
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 40px;
        &-title {
            font-size: 36px;
            color: #191919;
            @extend %dmsans-700;
        }
        &-link {
            font-size: 16px;
            color: #191919;
            @extend %dmsans-700; 
        }
        &-link::after {
            content: '>';
            margin-left: 10px;
        }
    }
    &__images-items {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
    &__description{
        background-color: #fef7f0;
        &-items {
          display: flex;
          justify-content: space-between;
          column-gap: 30px;  
        }
        &-item {
            padding: 30px 35px 35px 30px;
            background-color: #fff;
            margin-bottom: 90px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            max-width: 370px;
            position: relative;
        }
        &-text::before {
            content: "NEWS";
            position: absolute;
            padding: 5px 30px;
            background-color: #a3bbc8;
            color: #fff;
            border-radius: 50px;
            top: -20px;
        }
        &-text {
            font-size: 16px;
            color: #262626;
            @extend %raleway-600;
            margin-bottom: 15px;
        }
        &-bottom {
            font-size: 12px;
            border-top: 1px solid #222933;
            padding-top: 20px;
        }
        &-admin {
            margin-left: 30px;
        }
    }
    &__photo{
        padding-bottom: 80px;
        &-items {
            display: flex;
            justify-content: space-around;

        }
    }

}

.modal {
    padding-top: 110px;
    &-container {
        max-width: 470px;
        margin: 0 auto 120px;
    }
    &__label {
       
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
    }
    &__input {
        display: block;
        width: 100%; 
        margin-bottom: 30px;
        border: 1px solid #f6f6f6;
        height: 60px;
        padding: 0px 15px;
    }
    &__button-1 {
        display: block;
        background-color: #a3bbc8;
        color: #fffefe;
        border: none;
        width: 100%;
        padding: 15px 0;
        @extend %rubik-500;
        font-size: 18px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    &__items {
        display: flex;
        justify-content:space-between;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #f6f6f6 ;
    }
    &__link {
        font-size: 14px;
        color: #436372;
        @extend %rubik-400;
    }
    &__tap {
        text-align: center;
        margin-bottom: 20px;
    }
    &__button-2 {
        background-color: #fff;
        color: #243f4d;
        border: 1px solid #a3bbc8;
        display: block;
        width: 100%;
        padding: 20px 0;
    }
    &__bottom {
        background-color: #fef7f0;
        padding: 80px 0;
    }
}

.terms {
    padding-top: 110px;
    color: #243f4d;
    margin-bottom: 110px;
    &__item {
        margin-bottom: 30px;
    }
    &__title {
        @extend %rubik-500;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    &__list {
        list-style: decimal-leading-zero;
        list-style-position: outside;
    }
    &__text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
    }
}
.about {
    padding-top: 115px;
    &__top {
        display: flex;
        column-gap: 50px;
        margin-bottom: 115px;
        &-ilem {
            display: flex;
            align-items: center;
            column-gap: 25px;
            margin-bottom: 50px;
        }
        &-title {
            font-size: 140px;
            line-height: 30px;
            color: #a3bbc8;
        }
        &-text1 {
            @extend %rubik-400; 
            font-size: 16px;
            line-height: 30px;
        }
        &-items2 {
            padding-top: 80px;
        }
        &-para {
            max-width: 570px;
            color: #243f4d;
        }
        &-title2 {
            margin-bottom: 50px;
            
            font-size: 36px;
            line-height: 32px;
            @extend %dmsans-700;
        }
        &-text2 {
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            border-bottom: 2px solid #e6eaf0;
            padding-bottom: 50px;
            margin-bottom: 25px;
        }
    }
    &__items {
        display: flex;
        max-width: 540px;
        justify-content: space-between
    }
    &__item + .about__item {
        border-left: 2px solid #e6eaf0;
    }
    &__item {
        display: flex;
        column-gap: 15px;
        align-items: center;
        padding-left: 20px;
        &-title {
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 38px;
            color: #243f4d;
        }
        
        &-span {
            color: #4c4c4c;
            font-size: 16px;
            line-height: 17px;
        }
    }
}
.daily {
    background-color: #fcd7b6;
    padding: 80px 0;
    &__items {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        &-title {
            font-size: 36px;
            line-height: 32px;
            @extend %dmsans-700;
            margin-bottom: 15px;
        }
        &-span {
            font-size: 18px;
            line-height: 32px;
            @extend %dmsans-700;
        }
    }
    &__item1 {
        margin-bottom: 15px;
    }
}
.team {
    padding-top: 110px;
    margin-bottom: 100px;
    &__items {
        display: flex;
        column-gap: 80px;
    }
    &__item {
        &-title {
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 32px; 
            color: #243f4d;
            margin-bottom: 30px; 
        }
        &-text {
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            color: #243f4d;
            margin-bottom: 30px;
        }
        &-button {
            border: none;
            background-color: #a3bbc8;
            padding: 15px 20px;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    &__item1 {
        max-width: 315px;
    }
    &__photos {
        display: flex;
        flex-wrap: wrap;
        gap: 100px 30px;
    }
    &__photo {
        position: relative;
        display: block;
    }
    &__card {
        background-color: #fff;
        width: 326px;
        position: absolute;
        content: "";
        bottom: -19px;
    }
}

.shop {
    padding-top: 115px;
    margin-bottom: 120px;
    &__inner {
        display: flex;
    }
    &__filters {
        max-width: 270px;
        margin-right: 30px;
    }
}
.price-filter {
    &__form {
        width: 270px;
    }
}
.filter__category {
    margin-bottom: 50px;
        &-title {
        font-size: 18px;
        color: $blue-color;
        @extend %dmsans-700;
        position: relative;
    }
        &-form {
            padding-top: 30px;
        }
        &-label {
            margin-bottom: 10px;
            display: block;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-input {
            @extend %checkbox-hidden;
            &:checked + .filter__category-checkbox {
                background-color: #edf1f4;   
            }
        }
        &-checkbox {
            color: #243f4d;
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-radius: 10px;
        }
}
.filter__brand {
    margin-bottom: 50px;
    &-title {
        margin-bottom: 20px;
    }
    &-label {
        margin-bottom: 10px;
        display: block;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-span {
        color: #dddddd;
    }
    &-input {
        @extend %checkbox-hidden;
        &:checked + .filter__brand-checkbox {
            background-color: #edf1f4;
            
        }
    }
    &-checkbox {
        color: #243f4d;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-radius: 10px;
    }
   
    
}

.filter__recent {
    &-tt {
        margin-bottom: 30px;
    }
    &-items {
        margin-bottom: 20px;
    }
    &-item {
        display: flex;
    }
    &-inner {
        padding: 5px 0 0 20px;
    }
    &-title {
        color: #333333;
        font-size: 14px;
        line-height: 16px;
        @extend %rubik-400;
        margin-bottom: 7px;
    }
    &-price {
        font-size: 15px;
        @extend %rubik-400;
        line-height: 27px;
    }

}

.star {
    margin-bottom: 5px;
}

.filter__category-title::after {
    content: url(../images/shop/shop-.svg);
    position: absolute;
    top: -5px;
    padding-left: 15px;

}


.irs--flat .irs-line {
    top: 29px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 100px;
}
.irs--flat .irs-handle {
    top: 23px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs--flat .irs-bar {
    top: 28px;
    height: 5px;
    background-color: #c2d2db;
    
}
.irs--flat {
    margin-bottom: 25px;
}
.irs-from, .irs-to, .irs-single {
    display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
    display:none;
}
.price-filter {
    max-width: 270px;
    &__form {
        margin-bottom: 80px;
    }
    &__label {
        display: flex;
        justify-content: space-between;
        @extend %rubik-400;
        font-size: 14px;
        color: #243f4d;
    }
}

.shop__content {
    width: 100%;
    &-inner {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 40px;
    }
    &-filter {
        margin-bottom: 30px;
        padding: 20px;
        &__button {
            display: flex;
            justify-content: flex-end;
        }
        &__btn {
            padding: 0;
            border: none;
            background-color: transparent;
            margin-left: 20px;
            cursor: pointer;
            &.shop__content-filter__btn--active {
                path {
                    fill: #a3bbc8;       
                }

            }
        }
    }
}

.detalis {
    padding-top: 120px;
}
.detalis-item {
    margin-bottom: 100px;
    &__inner {
        display: flex;
    }
    &__slide {
        width: 550px;
        margin-right: 70px;
    }
    &__content {
        width: 570px;
    }
    &__title {
        font-size: 40px;
        line-height: 26px;
        @extend %rubik-400;
        color: #333333;
        padding-top: 25px;
        margin-bottom: 20px;
        
    }
    &__star {
        margin-bottom: 30px;
    }
    &__price {
        font-size: 30px;
        line-height: 45px;
        color: #333333;
        @extend %rubik-400;
        margin-bottom: 35px;
        
    }
    &__text {
        color: #243f4d;
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        margin-bottom: 30px;
        
    }
    &__btn {
        padding: 12px 45px;
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        text-transform: uppercase;
        @extend %rubik-400;
        font-size: 15px;
        line-height: 30px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 15px;
        margin-bottom: 55px;
    }
}

.jq-number__field {
    width: 100px;
    border: 1px solid #a3bbc8;

}
.jq-number__field input {
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    color: #6b6b6b;
    text-align: center;
}
.jq-number {
    padding: 0;
    position: relative;
}
.jq-number__spin {
    position: absolute;
    width: 35px;
    height: 51px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);   
    border: 1px solid #a3bbc8;
}
.jq-number__spin.minus {
    left: 0px;
}
.jq-number__spin.plus {
    right: 0px;
}
.jq-number__spin::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 12px;
    width: 10px;
    height: 1px;
    background-color: #6b6b6b;
    
}
.jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 17px;
    width: 1px;
    height: 10px;
    background-color: #6b6b6b;
}
.detalis-info {
    &__item {
        display: flex;
        color: #243f4d;
        @extend %rubik-400;
    }
    &__text {
        margin-left: 10px;
    }
    &__link {
        color: #243f4d;  
    }
}
.detalis-slide {
    display: flex;
    &__thumb {
        width: 140px;
        margin-right: 25px;
    }
    &__thumb-item {
        margin-bottom: 25px;
        width: 140px;
        height: 150px;
        img{
            width: 140px;
            height: 160px;
            object-fit: cover; 
        }
    }
    &__big {
        width: 390px;
        img{
            width: 390px;
            height: 535px;
            object-fit: cover; 
        }
    }
    
}

.detalis-tabs {
    margin-bottom: 80px;
    &__title {
        margin-bottom: 35px;
        @extend %rubik-500;
        font-size: 18px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }
    &__top-title {
        display: inline-block;
        background-color: #edf1f4;
        color: #243f4d;
        width: 240px;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
    }
    &__top-title--active {
        background-color: #a3bbc8;
        color: #fff;
    }
    &__content-item {
        display: none;
        @extend %rubik-400;
        color: #243f4d;
        &.detalis-tabs__content-item--active {
            display: block;
        }
    }

}
.related {
    margin-bottom: 110px;
    
    &-title {
        margin-bottom: 70px;
        font-size: 36px;
        color: #243f4d;
        position: relative;
    }
}
.slick-arrow {
    position: absolute;
    right: 0;
    top: -110px;
    width: 60px;
    height:  60px;
    font-size: 0;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.slick-next {
    background-image: url(../images/slider\ next.svg);
    background-repeat: no-repeat;
    
}
.slick-prev {
    background-image: url(../images/slider\ prev.svg);
    background-repeat: no-repeat;
    right: 60px;
}

@import 'media';
