<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_top/_top.html' %}
        <section class="about">
            <div class="container2">
                <div class="about__top">
                    <div class="about__top-items">
                        <img class="about__top-images" src="images/about-top.jpg" alt="laptop">
                    </div>
                    <div class="about__top-items about__top-items2">
                        <div class="about__top-ilem">
                            <div class="about__top-item">
                                <h2 class="about__top-title">12</h2>
                            </div>
                            <div class="about__top-item">
                                <p class="about__top-text1">Years</p>
                                <p class="about__top-text1">Experience</p>
                                <p class="about__top-text1">Working</p>
                            </div>
                        </div>
                        <div class="about__top-para">
                            <h3 class="about__top-title2">
                                Mission of our creative house
                            </h3>
                            <p class="about__top-text2">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            </p>
                        </div>
                        <div class="about__items">
                            <div class="about__item">
                                <div class="about__item-photo">
                                    <img class="about__item-images" src="images/about-1.png" alt="photo">
                                </div>
                                <div class="about__item-number">
                                    <h5 class="about__item-title">520+</h5>
                                    <span class="about__item-span">Projects</span>
                                </div>
                            </div>
                            <div class="about__item">
                                <div class="about__item-photo">
                                    <img class="about__item-images" src="images/about-2.png" alt="photo">
                                </div>
                                <div class="about__item-number">
                                    <h5 class="about__item-title">$4M</h5>
                                    <span class="about__item-span">Revenue</span>
                                </div>
                            </div>
                            <div class="about__item">
                                <div class="about__item-photo">
                                    <img class="about__item-images" src="images/about-3.png" alt="photo">
                                </div>
                                <div class="about__item-number">
                                    <h5 class="about__item-title">250</h5>
                                    <span class="about__item-span">Awards</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="daily">
                <div class="container2">
                    <div class="daily__items">
                        <div class="daily__item">
                            <div class="daily__item1">
                                <img class="daily__item-image" src="images/daily1.png" alt="daily">
                            </div>
                            <div class="daily__item2">
                                <h3 class="daily__item-title">99%</h3>
                                <span class="daily__item-span">Satisﬁed Clients Rate</span>
                            </div>
                        </div>
                        <div class="daily__item">
                            <div class="daily__item1">
                                <img class="daily__item-image" src="images/daily2.png" alt="daily">
                            </div>
                            <div class="daily__item2">
                                <h3 class="daily__item-title">5020+</h3>
                                <span class="daily__item-span">Products Delivered</span>
                            </div>
                        </div>
                        <div class="daily__item">
                            <div class="daily__item1">
                                <img class="daily__item-image" src="images/daily3.png" alt="daily">
                            </div>
                            <div class="daily__item2">
                                <h3 class="daily__item-title">23hr</h3>
                                <span class="daily__item-span">Daily Working Time</span>
                            </div>
                        </div>
                        <div class="daily__item">
                            <div class="daily__item1">
                                <img class="daily__item-image" src="images/daily4.png" alt="daily">
                            </div>
                            <div class="daily__item2">
                                <h3 class="daily__item-title">140+</h3>
                                <span class="daily__item-span">Brands in Store</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="container2">
                    <div class="team__items">
                        <div class="team__item team__item1">
                            <h3 class="team__item-title">Our Team</h3>
                            <p class="team__item-text">
                                Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            </p>
                            <button class="team__item-button" type="submit">Join With US</button>
                        </div>
                        <div class="team__item">
                            <div class="team__photos">
                                <div class="team__photo">
                                    <img class="team__photo-images" src="images/team1.jpg" alt="team">
                                    <div class="team__cards">
                                        <div class="team__card">
                                            <h5 class="team__card-title">Eliza Elliot</h5>
                                            <span>Commodo tempor</span>
                                        </div>
                                        <div class="team__card"></div>
                                    </div>
                                </div>
                                <div class="team__photo">
                                    <img class="team__photo-images" src="images/team2.jpg" alt="team">
                                    <div class="team__cards">
                                        <div class="team__card">
                                            <h5 class="team__card-title">Eliza Elliot</h5>
                                            <span>Commodo tempor</span>
                                        </div>
                                        <div class="team__card"></div>
                                    </div>
                                </div>
                                <div class="team__photo">
                                    <img class="team__photo-images" src="images/team3.jpg" alt="team">
                                </div>
                                <div class="team__photo">
                                    <img class="team__photo-images" src="images/team4.jpg" alt="team">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'app/module/footer/_footer.html' %}
    <script src="js/main.min.js"></script>
</body>
</html>