<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/blog-details.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_top/_top.html' %}
        <section class="blog">
            <div class="container2">
                <div class="blog-item">
                    <div class="blog-left">
                        <div class="blog-left__item">
                            <div class="blog-left__images">
                                <img class="blog-left__images-1" src="images/blog/1.jpg" alt="photo">
                                <div class="blog-left__card">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="blog-left__title"> 
                                <a class="blog-left__link" href="#">
                                    Fonsectetur adipisicing  eiusmod
                                </a>
                            </h3>
                            <h5 class="blog-left__title-h5">
                                Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim venia Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            </h5>
                            <p class="blog-left__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit
                                 amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                                 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                 commodo consequat. 
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            </p>
                                <blockquote class="blockquote">
                                    Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                    <p class="blockquote-text">
                                        Wiusmod tempor 
                                    </p>
                                </blockquote>
                            <div class="mod">
                                <div class="mod-images">
                                    <img src="images/blog/mod.jpg" alt="mod">
                                </div>
                                <div class="mod-item">
                                    <h4 class="mod-item__title">
                                        Riusmod tempor incididunt 
                                    </h4>
                                    <p class="mod-item__text">
                                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, 
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                    </p>
                                </div>
                            </div>
                            <div class="kaj">
                                <h4 class="mod-item__title">
                                    Kajtsal jervcm eoaspckred
                                </h4>
                                <p class="mod-item__text">
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                    laboris nisi ut aliquip ex ea commodo 
                                </p>
                            </div>
                            <div class="mark">
                                <div class="mark-items">
                                    <div class="mark-inner">
                                        <div class="mark-images">
                                            <img src="images/blog/mark.jpg" alt="mark-photo">
                                        </div>
                                        <div class="mark-item">
                                            <h3 class="mark-item__title">
                                                Mark N. Hernandez
                                            </h3>
                                            <a class="mark-item__link" href="#">Designer</a>
                                        </div>
                                    </div>
                                    <div class="mark-social">
                                        <div class="mark-social__tags">
                                            Tags: 
                                            <a class="mark-social__link" href="#">All</a>,
                                            <a class="mark-social__link" href="#">Trending</a> 
                                        </div>
                                        <div class="mark-social__share">
                                            Share:
                                            <a class="mark-social__share-link" href="#"><img src="images/blog/facebook.png" alt="#"></a>
                                            <a class="mark-social__share-link" href="#"><img src="images/blog/twitter.png" alt="#"></a>
                                            <a class="mark-social__share-link" href="#"><img src="images/blog/instagram.png" alt="#"></a>
                                            <a class="mark-social__share-link" href="#"><img src="images/blog/google.png" alt="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <h3 class="comment-title">3 Comments</h3>
                            <div class="comment-items">
                                <div class="comment-item">
                                    <div class="comment-inner">
                                        <div class="comment-images">
                                            <img src="images/blog/comment1.jpg" alt="persone">
                                        </div>
                                        <div class="comment-pers">
                                            <div class="comment-pers__items">
                                                <a class="comment-pers__title" href="#">Delores G. Roberts</a>
                                                <p class="comment-pers__data">
                                                    Add 11 Oct 2020
                                                </p>
                                            </div>
                                            <p class="comment-pers__text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique 
                                                convallis. Class aptent taciti sociosqu ad litora 
                                                torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices 
                                            </p>
                                            <a class="comment-pers__link" href="#">Reply  -></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item comment-item__special">
                                    <div class="comment-inner">
                                        <div class="comment-images">
                                            <img src="images/blog/comment2.jpg" alt="persone">
                                        </div>
                                        <div class="comment-pers">
                                            <div class="comment-pers__items">
                                                <a class="comment-pers__title" href="#">Shannon S. Williams</a>
                                                <p class="comment-pers__data">
                                                    Add 11 Oct 2020
                                                </p>
                                            </div>
                                            <p class="comment-pers__text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique 
                                                convallis. Class aptent taciti sociosqu ad litora 
                                                torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices 
                                            </p>
                                            <a class="comment-pers__link" href="#">Reply  -></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="comment-inner">
                                        <div class="comment-images">
                                            <img src="images/blog/comment3.jpg" alt="persone">
                                        </div>
                                        <div class="comment-pers">
                                            <div class="comment-pers__items">
                                                <a class="comment-pers__title" href="#">Nicholas R. Coley</a>
                                                <p class="comment-pers__data">
                                                    Add 11 Oct 2020
                                                </p>
                                            </div>
                                            <p class="comment-pers__text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique 
                                                convallis. Class aptent taciti sociosqu ad litora 
                                                torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices 
                                            </p>
                                            <a class="comment-pers__link" href="#">Reply  -></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="leave">
                            <h3 class="comment-title">Leave A Comment</h3>
                            <form class="leave-form" action="#">
                                <input class="leave-form__name" type="name" placeholder="Name" required>
                                <input class="leave-form__mail" type="email" placeholder="E-mail" required>
                                <textarea class="leave-form__text" placeholder="Comment"></textarea>
                                <button class="leave-form__btn" type="submit">
                                    Post Comment
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="blog-right">
                        <form class="blog-right__form" action="#">
                            <input class="blog-right__input" type="text" >
                            <button class="blog-right__btn" type="submit">
                                <img src="images/blog/lupa.png" alt="lupa">
                            </button>
                        </form>
                        <h3 class="filter__category-title">CATEGORY</h3>
                        <form class="filter__category-form">
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Chair</span>
                                    <img src="images/Shape20.svg" alt="21">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Table</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Lamp</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Watch</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Clock</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                        </form>
                        <div class="posts">
                            <h3 class="filter__category-title">Recent Posts</h3>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/1.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/2.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/3.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/4.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-detail__footer">
                <div class="container2">
                    <div class="design__photo">
                        <ul class="design__photo-items">
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 1.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 2.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 3.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 4.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 5.png" alt="photo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'app/module/footer/_footer.html' %}
    <script src="js/main.min.js"></script>
</body>
</html>