<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/blog.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_top/_top.html' %}
        <section class="blog">
            <div class="container2">
                <div class="blog-item">
                    <div class="blog-left">
                        <div class="blog-left__item">
                            <div class="blog-left__images">
                                <img class="blog-left__images-1" src="images/blog/1.jpg" alt="photo">
                                <div class="blog-left__card">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="blog-left__title"> 
                                <a class="blog-left__link" href="#">
                                    Fonsectetur adipisicing  eiusmod
                                </a>
                            </h3>
                            <p class="blog-left__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem 
                                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                            </p>
                            <button class="blog-left__btn" type="submit">View More</button>
                        </div>
                        <div class="blog-left__item">
                            <div class="blog-left__images">
                                <img class="blog-left__images-1" src="images/blog/2.jpg" alt="photo">
                                <div class="blog-left__card">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="blog-left__title"> 
                                <a class="blog-left__link" href="#">
                                    Fonsectetur adipisicing  eiusmod
                                </a>
                            </h3>
                            <p class="blog-left__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem 
                                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                            </p>
                            <button class="blog-left__btn" type="submit">View More</button>
                        </div>
                        <div class="blog-left__item">
                            <div class="blog-left__images">
                                <img class="blog-left__images-1" src="images/blog/3.jpg" alt="photo">
                                <div class="blog-left__card">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="blog-left__title"> 
                                <a class="blog-left__link" href="#">
                                    Fonsectetur adipisicing  eiusmod
                                </a>
                            </h3>
                            <p class="blog-left__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem 
                                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                            </p>
                            <button class="blog-left__btn" type="submit">View More</button>
                        </div>
                        <div class="blog-left__item">
                            <div class="blog-left__images">
                                <img class="blog-left__images-1" src="images/blog/4.jpg" alt="photo">
                                <div class="blog-left__card">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="blog-left__title"> 
                                <a class="blog-left__link" href="#">
                                    Fonsectetur adipisicing  eiusmod
                                </a>
                            </h3>
                            <p class="blog-left__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem 
                                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                            </p>
                            <button class="blog-left__btn" type="submit">View More</button>
                        </div>
                    </div>
                    <div class="blog-right">
                        <form class="blog-right__form" action="#">
                            <input class="blog-right__input" type="text" >
                            <button class="blog-right__btn" type="submit">
                                <img src="images/blog/lupa.png" alt="lupa">
                            </button>
                        </form>
                        <h3 class="filter__category-title filter__category-title-1">CATEGORY</h3>
                        <form class="filter__category-form filter__category-form-1">
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Chair</span>
                                    <img src="images/Shape20.svg" alt="21">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Table</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Lamp</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Watch</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                            <label class="filter__category-label">
                                <input class="filter__category-input" type="checkbox">
                                <div class="filter__category-checkbox">
                                    <span>Clock</span>
                                    <img src="images/Shape20.svg" alt=">">
                                </div>
                            </label>
                        </form>
                        <div class="posts posts-1">
                            <h3 class="filter__category-title">Recent Posts</h3>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/1.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/2.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/3.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                            <div class="posts-items">
                                <div class="posts-item">
                                    <div class="posts-item__images">
                                        <img src="images/posts/4.jpg" alt="posts">
                                    </div>
                                </div>
                                <div class="posts-item">
                                    <h4 class="posts-item__title">
                                        <a class="posts-item__title-link" href="#">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </a>
                                    </h4>
                                    <p class="posts-item__text">
                                         28 JANUARY, 2020
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a class="pagination__link pagination__link--active" href="#">
                                1
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">
                                2
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">
                                3
                            </a>
                        </li>
                    </ul>
                    <a class="pagination__next" href="#">Next</a>
                </div>
            </div>
        </section>
    </main>

    {% include 'app/module/footer/_footer.html' %}
    <script src="js/main.min.js"></script>
</body>
</html>