<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/tems.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_top/_top.html' %}
        <section class="terms">
            <div class="container2">
                <div class="terms__item">
                    <h4 class="terms__title">Types of Personal Information We Collect</h4>
                    <ol class="terms__list">
                        <li class="terms__text">
                            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        </li>
                        <li class="terms__text">
                            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        </li>
                        <li class="terms__text">
                            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </li>
                        <li class="terms__text">
                            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </li>
                        <li class="terms__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                        </li>
                    </ol>
                </div>
                <div class="terms__item">
                    <h4 class="terms__title">How marketpmss.com Collects Personal Infonnation</h4>
                    <p class="terms__text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                    </p>
                </div>
                <div class="terms__item">
                    <h4 class="terms__title">How marketprosscom Uses Personal Information</h4>
                    <p class="terms__text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                    </p>
                </div>
            </div>
        </section>
        <section class="design">
          <div class="container2">
                <div class="design__bottom">
                    <h3 class="design__bottom-title">
                        Our Insights & Articles
                    </h3>
                    <a class="design__bottom-link" href="#" >
                        View All
                    </a>
                </div>
                
            </div>
        </div>
            <div class="design__description">
                <div class="container2">
                    <div class="design__description-items">
                        <div class="design__description-item">
                            <p class="design__description-text">
                                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <div class="design__description-bottom">
                                <span class="design__description-data">  28 JANUARY, 2020</span>
                                <span class="design__description-admin">  BY ADMIN</span>
                            </div>
                        </div>
                        <div class="design__description-item">
                            <p class="design__description-text">
                                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                            </p>
                            <div class="design__description-bottom">
                                <span class="design__description-data">  28 JANUARY, 2020</span>
                                <span class="design__description-admin">  BY ADMIN</span>
                            </div>
                        </div>
                        <div class="design__description-item">
                            <p class="design__description-text">
                                Rncididunt ut labore et dolore magna aliqua. Ut enim 
                            </p>
                            <div class="design__description-bottom">
                                <span class="design__description-data">  28 JANUARY, 2020</span>
                                <span class="design__description-admin">  BY ADMIN</span>
                            </div>
                        </div>
                    </div>
                    <div class="design__photo">
                        <ul class="design__photo-items">
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 1.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 2.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 3.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 4.png" alt="photo">
                                </a>
                            </li>
                            <li class="design__photo-item">
                                <a class="design__photo-link" href="#">
                                    <img src="images/design/bottom 5.png" alt="photo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>

    {% include 'app/module/footer/_footer.html' %}
    <script src="js/main.min.js"></script>
</body>
</html>